body{
    margin: 0;
    background-color: #909090;
    width: 100vw;
    height: 100vh;
}

.header{
   
    background-color: #606060;
    width 100vw; 
    height: 20vh;


}
.main{
    margin: 0 auto;
    background-color: #EEEEEE;
    width: 80vw;
    height: 70vh;
    
}

.footer{
    margin: 0 auto;
    background-color: #313131;
    width: 80vw;
    height: 10vh;
}